<h1>Admin >> Dashboard</h1>
<div>
  Categories currently in the database: 
  <%= @category_count %>
</div>
<div>
  <%= link_to 'Products', [:admin, :products] %>
  currently in the database: 
  <%= @product_count %>
</div>