<h1>About Us</h1>

<div class="about-text">
  <p> 
    We are a young, constantly and dynamically developing team. 
  </p>
  <p> 
    Our slogan is "Higher prices, lower quality!"
  </p>
  <p> 
    Or vice versa. We're working on that right now...
  </p>

</div>